html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  width: 100%;
  height: 128px;
  background: #232C4B;
  margin-bottom: 100px;
}
header .logo-container img {
  cursor: pointer;
}
header a {
  line-height: 100px;
  color: white;
  font-size: 18px;
  display: inline-block;
  margin-left: 50px;
}
header a:last-of-type {
  margin-right: 50px;
}
header .avatar-container {
  width: 52px;
  height: 52px;
  vertical-align: middle;
}
header .avatar-container img {
  border-radius: 50%;
}
header .mobile-close-nav {
  display: none;

  background: none;
  border: 0;
  width: 32px;
  height: 32px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 24px;
  margin: 0 !important;
  pointer-events: none;
}
header .mobile-hamburger {
  display: none;

  background: none;
  border: 0;
  width: 32px;
  height: 32px;
  padding: 0;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  header {
    padding: 0px 25px;
    height: 70px;
    text-align: center;
  }
  header nav {
    position: fixed;
    background: #232C4B;
    right: -200px;
    top: 0;
    padding-top: 61px;
    bottom: 0;
    width: 200px;

    border-left: 1px solid #FFF;

    will-change: right;
    transition: right 0.3s ease;
  }
  header a, header nav button {
    display: block;
    margin: 32px auto;
  }
  header a:last-of-type {
    margin-right: 0;
  }
  header .mobile-hamburger {
    display: inline-block;
  }
  header .mobile-close-nav {
    display: block;
  }
  header:focus-within nav {
    right: 0 !important;
    box-shadow: -37px 1px 28px -12px rgba(0,0,0,0.32);
    -webkit-box-shadow: -37px 1px 28px -12px rgba(0,0,0,0.32);
    -moz-box-shadow: -37px 1px 28px -12px rgba(0,0,0,0.32);
  }
}

button.upfuze-btn {
  background: url('/btn.png');
  height: 40px;
  width: 160px;
  text-align: center;
  color: white;
  border: 0;
  font-size: 18px;
  line-height: 26px;
  cursor: pointer;
}
